@import "../scss/variables";

.df_jc_ac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bg_img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title_line {
    position: relative;
}

.title_line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #787878;
    left: -150%;
    top: calc(50% - 1px);
}

.title_line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #787878;
    right: -150%;
    top: calc(50% - 1px);
}

@media screen and (max-width: 768px) {
    .title_line::before {
        width: 60%;
        left: -100%;
    }
    
    .title_line::after {
        width: 60%;
        right: -100%;
    }
}