@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,600;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;400;500;600;700;900&display=swap');

// FONTS

$chinese-font: 'Noto Sans TC', sans-serif;
$second-chinese-font: 'Noto Serif TC', serif;
$eng-font: 'Raleway', sans-serif;

$enormous-font-size: 2.75rem;
$biggest-font-size: 2.25rem;
$bigger-font-size: 1.75em;
$big-font-size: 1.4rem;
$normal-font-size: 1.2rem;
$small-font-size: .9rem;
$smaller-font-size: .8rem;

$font-light: 100;
$font-regular: 300;
$font-medium: 500;
$font-bold: 900;

// COLORS

$bg-color: #F3F2ED;
$font-color: #1D1E22;

// GRAYS 

$black: #1c1c1c;
$grey-darkest: #535353;
$grey-darker: #787878;
$grey-dark: #969696;
$grey-light: #ababab;
$grey-lighter: #c0c0c0;
$grey-lightest: #D9D9D9;

// WIDTH

$max-width: 1520px;
$min-width: 350px;

