@import "../scss/settings";
@import "../scss/model";

#api_body {
    max-width: var(--max-width);
    margin: 0 auto;
    background: linear-gradient(135deg, #333, transparent, transparent);
    padding: 10px 40px;
    min-height: 100vh;
}


