@import "../scss/settings";
@import "../scss/model";


// 主區域

#main_body {
    // width: clamp(50vw, 100vw, var(--max-width));
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(135deg, #333, transparent, transparent);
    height: 100vh;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    // flex-wrap: wrap;
    flex-direction: column;

    .linear_background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: linear-gradient(45deg, transparent 20%, #333 25%, transparent 30%, transparent 45%, #333 50%, transparent 55%, transparent 70%, #333 75%, transparent 80%);
        background: radial-gradient(farthest-corner at 0px 0px, transparent, #c3c3c3, transparent);
        z-index: -1;
    }


    .main_content {
        column-gap: 40px;
    }

    .decoration {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 28px;
        column-gap: 28px;

        .color_box {
            width: 200px;
            height: 200px;
            background-color: #519998a8;
            position: relative;
            z-index: 3;
        }

        .color_box_1 {
            grid-column: span 2;
            width: 100%;
            border-top-right-radius: 200px;
            border-bottom-left-radius: 200px;
        }

        .color_box_2 {
            border-radius: 50%;
            border-bottom-left-radius: unset;
            background-color: transparent;
            position: relative;
            overflow: hidden;
            .bg_filter {
                position: absolute;
                width: 480px;
                height: 480px;
                background-image: url(/img/Sunris.jpg);
                background-attachment: fixed;
                background-size: contain;
                background-repeat: no-repeat;
                left: 0;
                z-index: 2;
            }
        }

        .color_box_3 {
            border-bottom-right-radius: 200px;
            border-top-left-radius: 50%;
        }
    }

    .banner_container {
        height: fit-content;
        width: 500px;
        padding: 12px 20px 28px;
        position: relative;

        .banner_head {
            margin: 20px 0 32px;
        }

        .header_text {
            font-family: var(--eng-font);
            overflow-wrap: anywhere;
            font-size: var(--enormous-font-size);
            font-weight: 700;
            text-shadow: 2px 2px 5px var(--grey-light);
        }

        .intro_text {
            font-family: var(--eng-font);
        }

        .card_overlay {
            position: absolute;
            z-index: 5;
            font-size: 5rem;
            font-family: var(--eng-font);
            left: -25%;
            bottom: -50%;
            mix-blend-mode: overlay;
            color: var(--grey-lighter);
        }
    }
}

@media screen and (max-width: 768px) {
    #main_body {
        padding: 0 20px 20px;

        .card_container {
            width: clamp(calc(var(--min-width) - 50px), 95%, calc(var(--max-width) - 50px));
            margin-top: 0;

            .card_overlay {
                display: none;
            }
        }

        .banner_container {
            width: clamp(calc(var(--min-width) - 50px), 95%, calc(var(--max-width) - 50px));
            margin-top: 72px;

            .header_text {
                font-size: var(--biggest-font-size);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #main_body {

        .banner_container {
            .banner_head {
                margin: 12px 0 20px;
            }

            .header_text {
                text-align: center;
                transition: 0.4s all ease-in;
                animation: name duration timing-function delay iteration-count direction fill-mode;
            }
        }
    }
}

// 地

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .expander_container {
        min-width: 70px;
        min-height: 70px;
        border-radius: 35px;
        background-color: rgba(33, 33, 33, .55);
        position: absolute;
        bottom: 50px;
        z-index: 99;
        cursor: pointer;
        padding: 7px;

        .expander {
            min-width: 56px;
            min-height: 56px;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #aed2d1;
            background-image: url(/img/dot.png);
            background-size: 48px;

            .option:hover {
                color: var(--grey-lightest);
                text-decoration: underline;
            }
        }
    }
}

.optionBox {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    padding: 0 16px;
    white-space: nowrap;
    font-weight: var(--font-bold);
}