@import "../scss/settings";
@import "../scss/model";
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

// 入場動畫 總計2s

:root {
    --logoFontOrigSize1: 84px;
    --logoFontOrigSize2: 40px;
    --logoFontSize1: 48px;
    --logoFontSize2: 13px;
    --logoFontWidth1: 175.65px;
    --logoFontWidth2: 391.7px;
    --logoFontHeight1: 130.4px;
    --logoFontHeight2: 48px;
    --logoFontTop2: 70px;
}

body {
    overflow: hidden;
    background-color: #f0f0f0;
}

body.unset_overflow {
    overflow: unset;
}

#zoomIn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 101;
    animation: firstIn .5s linear 2s forwards;
}

@keyframes firstIn {
    0% {
        background-color: #f0f0f0;
        width: 100%;
        height: 100%;
    }

    100% {
        background-color: transparent;
        width: auto;
        height: auto;
    }
}


@keyframes zoomTopLeft {
    0% {
        width: 480px;
        left: calc((100% - 480px) /2);
        top: calc((100% - 178.4px) /2);
    }

    100% {
        width: 170px;
        left: 0;
        top: 0;
    }
}

.logo_box {
    overflow: hidden;
}

.logo_box_1 {
    position: absolute;
    font-size: var(--logoFontOrigSize1);
    left: calc((100% - var(--logoFontWidth1)) /2);
    top: calc((100% - var(--logoFontHeight1)) /2);
    // transition: font-size 1s ease-in;
    animation: fontShrink1 1s forwards 1s;
}

.logo_box_2 {
    position: absolute;
    font-size: var(--logoFontOrigSize2);
    left: calc((100% - var(--logoFontWidth2)) / 2);
    top: calc((100% - var(--logoFontHeight2)) / 2 + 90px);
    // transition: font-size .4s ease-in;
    animation: fontShrink2 1s forwards 1s;
}

.logo {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    transform: translateY(100%);
    width: fit-content;
    margin: 0 auto;
    animation: logoIn .6s linear forwards;
}

.logo_text {
    font-family: 'Inter';
    transform: translateY(100%);
    width: fit-content;
    white-space: nowrap;
    margin: 0 auto;
    animation: logoIn .6s linear forwards .4s;
}

@keyframes logoIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fontShrink1 {
    0% {
        font-size: var(--logoFontOrigSize1);
        left: calc((100% - var(--logoFontWidth1)) /2);
        top: calc((100% - var(--logoFontHeight1)) /2);
    }

    100% {
        font-size: var(--logoFontSize1);
        left: 16px;
        top: 0px;
    }
}

@keyframes fontShrink2 {
    0% {
        font-size: var(--logoFontOrigSize2);
        left: calc((100% - var(--logoFontWidth2)) / 2);
        top: calc((100% - var(--logoFontHeight2)) / 2 + 90px);
    }

    100% {
        font-size: var(--logoFontSize2);
        left: 16px;
        top: var(--logoFontTop2);
    }
}

@media screen and (max-width: 600px) {
    :root {
        --logoFontOrigSize1: 72px;
        --logoFontOrigSize2: 36px;
        --logoFontSize1: 36px;
        --logoFontSize2: 12px;
        --logoFontWidth1: 150.562px;
        --logoFontWidth2: 352.538px;
        --logoFontHeight1: 112px;
        --logoFontHeight2: 44px;
        --logoFontTop2: 56px;
    }
}

// 主區域

#main_body {
    // width: clamp(50vw, 100vw, var(--max-width));
    width: 100%;
    margin: 0 auto;
    // background: linear-gradient(135deg, #333, transparent, transparent);
    background-color: #f0f0f0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    flex-direction: column;

    .main_content {
        column-gap: 40px;
    }

    .decoration {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 28px;
        column-gap: 28px;
        position: relative;

        .color_box {
            width: 180px;
            height: 180px;
            background-color: #519998a8;
            position: relative;
            z-index: 3;
        }

        .color_box_1 {
            grid-column: span 2;
            width: 100%;
            border-top-right-radius: 200px;
            border-bottom-left-radius: 200px;
        }

        .color_box_2 {
            border-radius: 50%;
            border-bottom-left-radius: unset;
            background-color: transparent;
            position: relative;
            overflow: hidden;

            .bg_filter {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(/img/Sunris.jpg);
                background-attachment: fixed;
                background-size: 575px;
                background-repeat: no-repeat;
                left: 0;
                z-index: 2;
            }
        }

        .color_box_3 {
            border-bottom-right-radius: 200px;
            border-top-left-radius: 50%;
        }

        .card_overlay {
            position: absolute;
            z-index: 5;
            font-size: 5rem;
            font-family: var(--eng-font);
            right: -75%;
            bottom: 0;
            white-space: nowrap;
            mix-blend-mode: overlay;
            color: var(--grey-lighter);
            text-shadow: 2px 2px 3px #333;
        }
    }

    .banner_container {
        height: fit-content;
        // width: 500px;
        padding: 12px 20px 28px;
        position: relative;

        .banner_head {
            margin: 20px 0 32px;
        }

        .header_text {
            font-family: var(--eng-font);
            overflow-wrap: anywhere;
            font-size: var(--enormous-font-size);
            font-weight: 700;
            text-shadow: 2px 2px 5px var(--grey-light);
            text-align: center;
            display: block;
            transition: all .2s ease-in;
        }

        .banner_intro {
            max-width: 600px;
        }

        .intro_text {
            font-family: var(--eng-font);
            text-indent: 2rem;
            opacity: 0;
            animation: introFadeIn 1.2s linear forwards 2.2s;
        }

        @keyframes introFadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

// @media screen and (min-width: 1200px) {
//     #main_body {

//         .decoration {

//             .color_box_2 .bg_filter {
//                 background-size: 800px;
//             }
//         } 
//     }
// }

@media screen and (max-width: 1080px) {
    #main_body {

        .main_content {
            column-gap: 28px;
        }

        .decoration {

            .color_box {
                transition: all .4s linear;
                width: 150px;
                height: 150px;
            }

            .color_box_1 {
                width: 100%;
            }
        }

        .banner_container {
            width: unset;
        }
    }

}

@media screen and (max-width: 768px) {
    #main_body {
        padding: 0 20px 20px;

        .decoration {
            .color_box {
                width: 120px;
                height: 120px;
            }

            .color_box_1 {
                width: 100%;
            }
        }

        .banner_container {

            .header_text {
                font-size: var(--biggest-font-size);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #main_body {
        .main_content {
            flex-direction: column-reverse;
            column-gap: 0;
            row-gap: 20px;
        }

        .decoration {
            .color_box {
                width: 140px;
                height: 140px;
            }

            .color_box_1 {
                width: 100%;
            }

        }
    }
}

@media screen and (max-width: 480px) {
    #main_body {

        .banner_container {
            .banner_head {
                margin: 12px 0 20px;
            }

            .header_text {
                text-align: center;
                transition: 0.4s all ease-in;
                animation: name duration timing-function delay iteration-count direction fill-mode;
            }
        }
    }
}


// 區域2

#main_body_2 {
    height: 2000px;
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.project_container {
    width: 100%;
    display: flex;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.sticky_part {
    width: 36%;
    min-width: 250px;
}

.project_topic {
    font-size: 72px;
    font-family: var(--chinese-font);
    font-weight: 300;
    max-width: 150px;
    line-height: 80px;
    margin: 0 0 120px 0;
}

.project_card_container {
    column-gap: 120px;
    transform: translateX(0);
    transition: transform .5s ease-out;
    background-color: #f0f0f0;
    justify-content: flex-start;
}

.scroll_part {
    display: flex;
    align-items: center;
}

.project_card {
    width: 600px;
    height: 400px;
    background-color: lightcyan;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.project_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.project_image img {
    height: 100%;
    object-fit: cover;
}

.project_image_filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
}

.project_text_container {
    position: relative;
    height: calc(100% - 24px);
    width: 220px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_title {
    font-size: 21px;
    font-weight: 600;
    margin: 8px 0;
    opacity: 0;
    transform: translateX(-200%) translateY(-300%);
}

.project_intro {
    width: 100%;
    font-size: 16px;
    padding: 0 12px;
    opacity: 0;
    transform: translateX(-200%) translateY(300%);
}

.project_link {
    font-size: 13px;
    padding: 8px 12px;
    background-color: #000;
    border-radius: 30px;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(200%) translateY(300%);
    cursor: pointer;
    color: #fff;
}

.project_text_bg {
    position: absolute;
    right: 12px;
    top: 12px;
    height: calc(100% - 24px);
    width: 220px;
    background-color: #fff;
    opacity: 0;
    transform: translateX(100%);
}

.project_link_arrow {
    width: 16px;
    height: 16px;
    background-image: url(/img/arrow_right.svg);
    background-size: auto;
    animation: projectLinkArrow 2s linear infinite;
}

// @media screen and (max-width: 600px) {
//     .isMobile {
//         .project_title {
//             opacity: 1;
//             transform: unset;
//         }
        
//         .project_intro {
//             opacity: 1;
//             transform: unset;
//         }
        
//         .project_link {
//             opacity: 1;
//             transform: unset;
//         }
        
//         .project_text_bg {
//             opacity: 1;
//             transform: unset;
//         }
//     }
// }

@keyframes projectLinkArrow {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0px);
    }
}

.project_card.visible {
    .project_image_filter {
        animation: cardFilterIn .25s linear forwards .2s;
    }

    .project_text_bg {
        animation: cardWhiteBgIn .25s linear forwards .2s;
    }

    .project_title {
        animation: projectTitleIn .25s linear forwards .2s;
    }

    .project_intro {
        animation: projectIntroIn .25s linear forwards .2s;
    }

    .project_link {
        animation: projectLinkIn .25s linear forwards .2s;
    }
}

// .isMobile .project_card:active {
//     .project_image_filter {
//         animation: cardFilterIn .2s linear forwards;
//     }

//     .project_text_bg {
//         animation: cardWhiteBgIn .2s linear forwards;
//     }

//     .project_title {
//         animation: projectTitleIn .2s linear forwards;
//     }

//     .project_intro {
//         animation: projectIntroIn .2s linear forwards;
//     }

//     .project_link {
//         animation: projectLinkIn .2s linear forwards;
//     }
// }

@keyframes cardFilterIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .15;
    }
}

@keyframes cardWhiteBgIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 0.95;
    }
}

@keyframes projectTitleIn {
    0% {
        transform: translateX(-200%) translateY(-300%);
        opacity: 0;
    }

    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes projectIntroIn {
    0% {
        transform: translateX(-200%) translateY(300%);
        opacity: 0;
    }

    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes projectLinkIn {
    0% {
        transform: translateX(200%) translateY(300%);
        opacity: 0;
    }

    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    #main_body_2 {
        height: 1880px;
    }
    .sticky_part {
        min-width: 200px;
    }

    .project_topic {
        font-size: 54px;
        line-height: 60px;
        max-width: 110px;
    }
}

@media screen and (max-width: 768px) {
    .project_card_container {
        column-gap: 90px;
    }
    .project_card {
        width: 495px;
        height: 360px;
    }
    .project_title {
        font-size: 24px;
    }
    .project_intro {
        font-size: 18px;
    }
    .project_link {
        font-size: 15px;
        letter-spacing: 0.5px;
        padding: 9px 13px;
    }
}

@media screen and (max-width: 600px) {
    #main_body_2 {
        height: 1980px;
    }
    .project_topic {
        max-width: 90px;
    }
    // .project_card_container {
    //     background-color: transparent;
    // }
}

@media screen and (max-width: 480px) {
    #main_body_2 {
        height: 2180px;
    }
}


// 區域3

#main_body_3 {
    height: 600px;
}

.skill_title {
    font-family: var(--eng-font);
    font-size: var(--biggest-font-size);
    font-weight: bold;
    text-shadow: 0 0 3px #333;
}

.skill_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill_container {
    display: grid;
    width: 100%;
    padding: 60px 40px 140px;
    column-gap: 28px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.skill_card_title {
    font-family: var(--eng-font);
    font-size: var(--bigger-font-size);
    font-weight: bold;
    height: 40px;
    line-height: 37px;
    width: fit-content;
    background-color: #333;
    margin-bottom: 8px;
    padding: 2px 6px;
    color: #FFF;
    position: relative;
}

.skill_card_title::after {
    content: "";
    width: 30px;
    height: 40px;
    right: -28px;
    top: 0;
    display: block;
    position: absolute;
    background-color: #333;
    margin-bottom: 8px;
    clip-path: polygon(0 0, 100% 0, 25% 100%, 0% 100%);
}

.skill_card_text ul {
    display: flex;
    margin: 16px 0;
    flex-direction: column;
    row-gap: 6px;
    font-family: var(--eng-font);
    font-size: var(--normal-font-size);
}

.skill_card_text li {
    list-style: inside;
}

// Footer 版權 按鈕

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    .expander_container {
        min-width: 70px;
        min-height: 70px;
        border-radius: 35px;
        background-color: rgba(33, 33, 33, .55);
        position: absolute;
        bottom: 50px;
        z-index: 99;
        cursor: pointer;
        padding: 7px;

        .expander {
            min-width: 56px;
            min-height: 56px;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightblue;
            background-image: url(/img/dot.png);
            background-size: 48px;

            .option:hover {
                color: #002e37;
                text-decoration: underline;
            }
        }
    }

    .copyright {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        font-family: var(--eng-font);
    }
}

.optionBox {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    padding: 0 16px;
    white-space: nowrap;
    font-weight: var(--font-bold);
}