.news_ticker_container {
    font-family: var(--eng-font);
    font-size: var(--biggest-font-size);
    font-weight: bold;
    text-shadow: 0 0 2px #333;
}

.news_ticker {
    position: relative;
    z-index: 10;
}

.news_ticker.openIn {
    animation: openIn 1s ease-in;
}

@keyframes openIn {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.float_font_container {
    position: relative;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 9px -3px #333;
}

.float_font {
    position: absolute;
    padding: 10px;
    // clip-path: ellipse(50% 48% at 50% 50%);
    border-radius: 50%;
    box-shadow: 0 0 5px -3px #333;
    background-color: aliceblue;
    font-size: var(--big-font-size);
    transition: all 0.5s ease;
}   

.float_font_1 {
    top: calc(270px - (46.4px / 2));
    left: calc(0px - (84.61px / 2));
}

.float_font_2 { 
    top: calc(135px - (46.4px / 2) - 40px);
    left: calc((270px / 2) - (62.84px / 2) - 68px);
}

.float_font_3 {
    top: calc(0px - (46.4px / 2));
    left: calc(270px - (97.01px / 2));
}

.float_font_4 { 
    top: calc(135px - (46.4px / 2) - 40px);
    left: calc((540px) - (76.56px / 2) - 68px);
}

.float_font_5 {
    top: calc(270px - (46.4px / 2));
    left: calc(540px - (126.54px / 2));
}

.float_font_6 { 
    top: calc(405px - (46.4px / 2) + 40px);
    left: calc((540px) - (90.96px / 2) - 68px);
}

.float_font_7 {
    top: calc(540px - (46.4px / 2));
    left: calc(270px - (117.66px / 2));
}

.float_font_8 { 
    top: calc(405px - (46.4px / 2) + 40px);
    left: calc((270px / 2) - (65.41px / 2) - 68px);
}