.spin_container {
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    background-color: black;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.spin_card {
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--grey-lightest);
}

.spin_card1.isActive {
    animation: spin1 5s ease-in-out forwards;
}

@keyframes spin1 {
    0% {
        opacity: 0;
    }
    67% {
        transform: translateY(-50px);
    }  
    100% {
        opacity: 1;
        transform: translateY(-45px) translateX(-25px);
    }
}


.spin_item {
    width: 35px;
    height: 35px;
}

.spin_item1 {
    background-image: url(/img/1.png);
}

.spin_item2 {
    background-image: url(/img/2.png);
}

.spin_item3 {
    background-image: url(/img/3.png);
}

.spin_item4 {
    background-image: url(/img/4.png);
}