@import "../scss/settings";
@import "../scss/models";


#main-body {
    #about-container {
        max-width: $max-width;
        margin: 0 auto;
        background-color: $bg-color;
        font-family: $chinese-font;
        .profile-container {
            width: inherit;
            height: 380px;
            border-left: $side-border;
            margin: 0 auto;
            .profile-box {
                max-width: 1171px;
                margin: 0 60px;
                height: inherit;
                display: flex;
                justify-content: space-between;
                .pic {
                    height: 300px;
                    width: 300px;
                    border-radius: 50%;
                    background-image: url("../img/IMG_4060.HEIC");
                    background-position: center;
                    background-size: cover;
                    margin: 36px 20px 36px 0;
                }
                p {
                    font-size: $big-font-size;
                    padding: .5rem 0;
                }
            }
        }
        .work-container {
            width: inherit;
            border-left: $side-border;
            margin: 0 auto;
            padding-bottom: 2rem;
            position: relative;
            &::before {
                content: "";
                width: 1020px;
                height: 1px;
                margin: 0 auto;
                background-color: #dad0ce;
                display: block;
                position: absolute;
                left: 60px;
            }
            .work-box {
                max-width: 1171px;
                margin: 0 60px;
                height: inherit;
                display: flex;
                justify-content: space-between;
                .indent {
                    text-indent: 2rem;
                }
                p {
                    font-size: $big-font-size;
                    padding-top: .8rem;
                    line-height: 2.7rem;
                    display: flex;
                }
                span {
                    margin-right: 50%;
                }
            }
        }
        .about-text {
            padding: 20px 60px;
            font-size: $big-font-size;
            border-left: $side-border;
            position: relative;
            &::before {
                content: "";
                width: 1020px;
                height: 1px;
                margin: 0 auto;
                background-color: #dad0ce;
                display: block;
                position: absolute;
                left: 60px;
            }
            .paragraph {
                padding: 20px 0;
                line-height: 2.7rem;
                text-indent: 2rem;
            }
        }
        h1 {
            padding: 20px 0;
            font-size: $biggest-font-size;
        }
    }
}

@media screen and (max-width: 1200px) {
    #main-body {
        #about-container {
            .profile-container {
                border-left: none;
                .profile-box {
                    .pic {
                        margin: 36px 0;
                        transition: 2s;
                    }
                }
            }
            .work-container {
                border-left: none;
            }
            .about-text {
                border-left: none;
            }
        }
    }
}

@media screen and (max-width: 1048px) {
    #main-body {
        #about-container {
            .profile-container {
                .profile-box {
                    margin: 0 30px;
                    transition: 2s;
                    .pic {
                        width: 280px;
                        height: 280px;
                        margin: 46px 0;
                        transition: 2s;
                    }
                }
            }
            .work-container {
                &::before {
                    width: 950px;
                    left: 30px;
                    transition: 2s;
                }
                .work-box {
                    margin: 0 30px;
                    transition: 2s;
                }
            }
            .about-text {
                padding-left: 30px;
                padding-right: 30px;
                transition: 2s;
                &::before {
                    width: 950px;
                    left: 30px;
                    transition: 2s;
                }
            }
        }
    }
}

@media screen and (max-width: 908px) {
    #main-body {
        #about-container {
            .profile-container {
                .profile-box {
                    margin: 0 30px;
                    transition: 2s;
                    padding: 61px 0;
                    .pic {
                        width: 250px;
                        height: 250px;
                        margin: 0;
                        transition: 2s;
                    }
                    p {
                        font-size: $normal-font-size;
                        padding: .4rem 0;
                        transition: 2s;
                    }
                }
            }
            .work-container {
                .work-box {
                    margin: 0 30px;
                    transition: 2s;
                    padding-top: 30px;
                    p {
                        font-size: $normal-font-size;
                        padding-top: .5rem;
                        transition: 2s;
                    }
                }
            }
            .about-text {
                padding: 10px 30px;
                font-size: $normal-font-size;
                h1 {
                    padding-top: 30px;
                }
                .paragraph {
                    padding: 22px 0;
                    line-height: 2.4rem;
                    transition: 2s;
                }
            }
            h1 {
                font-size: $bigger-font-size;
                padding: 8px 0;
                transition: 2s;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #main-body {
        #about-container {
            .profile-container {
                min-width: 670px;
                .profile-box {
                    margin: 0 0 0 30px;
                    transition: 2s;
                }
            }
        }
    }
}

@media screen and (max-width: 670px) {
    #main-body {
        #about-container {
            .profile-container {
                min-width: 420px;
                height: 570px;
                .profile-box {
                    justify-content: center;
                    margin: 0 auto;
                    transition: 2s;
                    padding: 0;
                    flex-direction: column;
                    height: 100%;
                    .basic-intro {
                        text-align: center;
                        transition: 2s;
                    }
                    .pic {
                        margin: 20px auto 0px auto;
                    }
                    p {
                        padding: .2rem 0;
                    }
                }
            }
            .work-container {
                min-width: 420px;
                .work-box {
                    justify-content: center;
                    transition: 2s;
                    .basic-intro {
                        transition: 2s;
                        text-align: center;
                    }
                    p {
                        padding: .2rem 0;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                    }
                    .indent {
                        text-indent: 0;
                        padding: 15px 10px 0 10px;
                    }
                }
            }
            .about-text {
                padding: 20px 40px;
                font-size: $normal-font-size;
                h1 {
                    text-align: center;
                }
                .paragraph {
                    padding: 25px 0 5px 0;
                    line-height: 2.7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #main-body {
        p {
            font-size: 1rem !important;
            transition: 2s;
        }
        h1 {
            font-size: $big-font-size !important;
        }
        #about-container {
            .work-container {
                &::before {
                    width: 450px;
                }
                .work-box {
                    .indent {
                        font-weight: $font-regular;
                    }
                }
            }
            .about-text {
                &::before {
                    width: 450px;
                }
                .paragraph {
                    font-weight: $font-regular;
                    font-size: 1rem;
                }
            }
        }
    }
}