@import "../scss/settings";
@import "../scss/models";

#api {
    max-width: $max-width;
    margin: 0 auto;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    #api-container-horizontal {
        width: 450px;
        img {
            height: 300px;
            width: 450px;
            display: block;
        }
    }
    #api-container-vertical {
        width: 200px;
        img {
            height: 300px;
            width: 200px;
            display: block;
        }
    }
}


@media screen and (max-width: 768px) {
    #api {
        #api-container-horizontal {
            width: 360px;
            img {
                height: 240px;
                width: 360px;
                transition: 2s;
            }
        }
        #api-container-vertical {
            width: 160px;
            img {
                height: 240px;
                width: 160px;
                transition: 2s;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #api {
        #api-container-horizontal {
            width: 270px;
            img {
                height: 180px;
                width: 270px;
                transition: 2s;
            }
        }
        #api-container-vertical {
            width: 120px;
            img {
                height: 180px;
                width: 120px;
                transition: 2s;
            }
        }
    }       
}