@import "../scss/settings";
@import "../scss/models";


.calc-container {
    max-width: $max-width;
    background-color: $bg-color;
    height: calc(100vh - 125px - 14px);
    margin: 0 auto;
    font-family: $eng-font;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .guide-text {
        display: grid;
        grid-template-rows: repeat(3, 100px);
        .text {
            width: 100px;
            text-align: center;
            line-height: 100px;
            font-size: $big-font-size;
            font-family: $chinese-font;
        }
        .placeholder {
            display: none;
        }
        .placeholder-2 {
            display: none;
        }
        .placeholder-3 {
            display: none;
        }
    }
    .calculator {
        display: grid;
        grid-template-areas: 
        "a d e h"
        "b f g h"
        "c i i h";
        grid-template-columns: 500px 100px 100px 100px;
        grid-template-rows: repeat(3, 100px);
        border: $side-border;

        button {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: $biggest-font-size;
            padding: 0;
            border: 1px solid grey;
            cursor: pointer;
        }
        #calc-input {
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 100px;
            font-size: $biggest-font-size;
            grid-area: b;
            border: 1px solid grey;
            background-color: $bg-color;
        }
        .calc-button {
            line-height: 100px;
        }
        #calc-plus {
            grid-area: d;
        }
        #calc-minus {
            grid-area: f;
        }
        #calc-multi {
            grid-area: e;
        }
        #calc-divide {
            grid-area: g;
        }
        .clear-button {
            grid-area: h;
        }
        .equal-button {
            grid-area: i;
        }
        #calc-result {
            width: 100%;
            height: 100%;
            text-align: end;
            font-size: $biggest-font-size;
            border: 1px solid grey;
            line-height: 100px;
            grid-area: c;
        }
        #calc-preview {
            width: 100%;
            height: 100%;
            text-align: end;
            font-size: $bigger-font-size;
            border: 1px solid grey;
            line-height: 100px;
            font-family: $eng-font !important;
            grid-area: a;
        }
    }
}

@media screen and (max-width: 1048px) {
    .calc-container {
        .guide-text {
            grid-template-rows: repeat(3, 80px);
            transition: 2s;
            .text {
                width: 80px;
                line-height: 80px;
                font-size: $normal-font-size;
                transition: 2s;
            }
        }
        .calculator {
            grid-template-columns: 300px 80px 80px 80px;
            grid-template-rows: repeat(3, 80px);
            transition: 2s;
            #calc-input {
                line-height: 80px;
                font-size: $bigger-font-size;
                transition: 2s;
            }
            .calc-button {
                line-height: 80px;
            }
            #calc-result {
                line-height: 80px;
                font-size: $bigger-font-size;
                transition: 2s;
            }
            #calc-preview {
                line-height: 80px;
                font-size: $bigger-font-size;
                transition: 2s;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .calc-container {
        min-width: $min-width;
        min-height: 653px;
        .guide-text {
            width: 0;
            min-height: 653px;
            position: relative;
            .text {
                display: none;
            }
            .placeholder {
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                color: #B5B5B5;
                position: absolute;
                font-size: 1.2rem;
                top: calc(2px + .6rem);
                left: 10px;
                text-align: center;
                background-color: $bg-color;
                z-index: 80;
            }
            .placeholder-2 {
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                color: #B5B5B5;
                position: absolute;
                font-size: 1.2rem;
                top: calc(2px + .6rem + 100px);
                left: 10px;
                text-align: center;
                background-color: $bg-color;
                z-index: 80;
            }
            .placeholder-3 {
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                color: #B5B5B5;
                position: absolute;
                font-size: 1.2rem;
                top: calc(2px + .6rem + 100px + 100px);
                left: 10px;
                text-align: center;
                background-color: $bg-color;
                z-index: 80;
            }
        }
        .calculator {
            grid-template-columns: repeat(3, 120px);
            grid-template-rows: repeat(6, 100px);
            transition: 2s;
            grid-template-areas: 
            "a a a"
            "b b b"
            "c c c"
            "d f h"
            "e g h"
            "i i h";
            .calc-button {
                line-height: 80px;
            }
            #calc-result {
                line-height: 80px;
                position: relative;
            }
            #calc-preview {
                line-height: 100px;
                position: relative;
                font-size: $big-font-size;
            }
        }
    }
}