@import "../scss/settings";
@import "../scss/models";

#main-body {
    .game-container {
        max-width: $max-width;;
        height: 420px;
        margin: 0 auto;
        background-color: $bg-color;
        border-bottom: $side-border;

        .border-box {
            height: inherit;
            width: 700px;
            margin: 0 auto;
            border-right: $side-border;
            border-left: $side-border;
        }

        h1 {
            width: inherit;
            text-align: center;
            font-size: $biggest-font-size;
            font-family: $chinese-font;
            padding: 3rem 0 1rem 0;
        }

        .game-intro-container {
            width: inherit;
            display: grid;
            justify-content: center;
            padding: 20px 0;
            p {
                text-align: center;
                &:hover {
                    font-size: $normal-font-size;
                }
            }
        }
        input {
            width: 100px;
            height: 55px;
            font-size: $bigger-font-size;
            display: block;
            margin: 0 auto;
            text-align: center;
            font-family: $eng-font;
            padding-bottom: 3px;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 230px;
            // height: 60px;
            align-items: center;
            padding-top: 2rem;
            button {
                height: 45px;
                line-height: 30px;
                padding: 0 5px;
                font-size: $big-font-size;
                font-family: $chinese-font;
                border-radius: 8px;
                display: block;
            }
        }
    }

    #record-box {
        max-width: $max-width;;
        min-height: 720px;
        margin: 0 auto;
        background-color: $bg-color;
        padding: 0 162px;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        text-align: center;
        
        ul {
            font-size: $bigger-font-size;
            font-weight: $font-medium;
            font-family: $eng-font;
            text-align: center;
            line-height: 4rem;
            width: 477px;
            color: $font-color !important;
            padding-bottom: 20px;
        }

        .guess {
            border-left: $side-border;
        }

        .record {
            border-right: $side-border;
        }
    }
}

@media screen and (max-width: 1048px) {
    #record-box {
        ul {
            min-width: 350px !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .border-box {
        width: $min-width !important;
        transition: 2s;
    }
    #record-box {
        ul {
            min-width: 335px !important;
            transition: 2s;
        }
    }
}