@import "../scss/settings";
@import "../scss/models";

#main-body {
    
    #banner {
        max-width: $max-width;
        height: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "a b"
        "a c";
        grid-template-columns: 1fr 300px;
        grid-template-rows: 300px 1fr;
        column-gap: 20px;
        row-gap: 20px;     
        border-right: $side-border;
        background-color: $bg-color;
        transition: .5s;
        .banner-parent-1 {
            grid-area: a;
            height: 100%;
            border: 1px solid #DDD;
            border-radius: 20px;
            overflow: hidden;
        }
        .banner-parent-2 {
            grid-area: b;
            height: 100%;
            border: 1px solid #DDD;
            border-radius: 20px;
            overflow: hidden;
        }
        .banner-parent-3 {
            grid-area: c;
            height: 100%;
            border: 1px solid #DDD;
            border-radius: 20px;
            overflow: hidden;
        }
        .banner-1 {
            background-image: url("../img/BANNERI.jpeg");
            background-size: cover;
            height: 100%;
            background-position: center;
        }
        .banner-2 {
            background-image: url("../img/BANNERIII.jpg");
            background-size: cover;
            height: 100%;
            background-position: center;
        }
        .banner-3 {
            background-image: url("../img/BANNERII.JPG");
            background-size: cover;
            height: 100%;
            background-position: center;
        }
    }

    #text-container {
        max-width: $max-width;
        height: 510px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: $bg-color;

        &::before {
            content: "";
            width: calc(50% + 3px);
            height: 1px;
            display: block;
            margin-left: calc(50% - 3px);
            border-bottom: $side-border;
        }

        &::after {
            content: "";
            width: calc(50% + 3px);
            height: 1px;
            display: block;
            margin-left: 0;
            border-bottom: $side-border;
        }

        .vertical-line {
            width: 6px;
            height: 115px;
            background-color: $border-color;
            margin: 0 auto;
        }

        .text {
            width: 840px;
            height: 280px;
            border: $side-border;
            border-radius: 15px;
            margin: 0 auto;
            text-align: center;
            line-height: 40px;
            font-size: $big-font-size;
            padding: 90px 80px 0 80px;
        }
    }

    #review-container {
        max-width: $max-width;
        margin: 0 auto;
        background-color: $bg-color;
        border-left: $side-border;
        .review {
            margin: 0 auto;
            width: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 3rem;
            .review-box {
                display: grid;
                height: 480px;
                grid-template-areas: 
                "a b"
                "a c";
                grid-template-columns: 480px 1fr;
                grid-template-rows: 150px 1fr;
                column-gap: 4rem;
                row-gap: 1rem;
                margin-top: 3rem;
                font-family: $chinese-font;
            }
            .review-box-reverse {
                display: grid;
                height: 480px;
                grid-template-areas: 
                "b a"
                "c a";
                grid-template-columns: 1fr 480px;
                grid-template-rows: 150px 1fr;
                column-gap: 4rem;
                row-gap: 1rem;
                margin-top: 2rem;
                font-family: $chinese-font;
            }
            .review-img {
                grid-area: a;
                border-radius: 50%;
                &:hover {
                    border-radius: 25%;
                    box-shadow:  0 0 3px black;
                    transition: 1.5s;
                }
            }
            .review-img-1 {
                background-image: url("../img/ERASEHTML.jpg");
                background-position: center;
                background-size: cover;
            }
            .review-img-2 {
                background-image: url("../img/CALCULATORHTML.jpg");
                background-position: center;
                background-size: cover;
            }
            .review-img-3 {
                background-image: url("../img/OREOHTML.jpg");
                background-position: center;
                background-size: cover;
            }
            .review-title {
                grid-area: b;
                font-size: $biggest-font-size;
                text-align: center;
                line-height: 200px;
                
            }
            .review-text {
                grid-area: c;
                text-align: center;
                font-size: $big-font-size;
                line-height: 50px;
            }
        }
    }

    #courses {
        max-width: $max-width;
        margin: 0 auto;
        background-color: $bg-color;
        &::before {
            content: "";
            width: calc(50% + 3px);
            height: 1px;
            display: block;
            border-bottom: $side-border;
        }
        .vertical-line-top {
            width: 6px;
            height: 160px;
            background-color: $border-color;
            margin: 0 auto;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .vertical-line-middle {
            width: 6px;
            height: 200px;
            background-color: $border-color;
            margin: 0 auto;
            border-radius: 5px;
        }
        .vertical-line-bot {
            width: 6px;
            height: 160px;
            background-color: $border-color;
            margin: 0 auto;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        .courses-box {
            margin: 0 auto;
            text-align: center;
            padding: 20px 0;
            .courses-title {
                font-size: $bigger-font-size;
                height: 60px;
                line-height: 60px;
                font-family: $eng-font;
            }
            p {
                font-size: $big-font-size;
                font-weight: $font-regular;
                height: 45px;
                line-height: 45px;
                margin-top: 10px;
                font-family: $chinese-font;
            }
            .icon-list {
                display: flex;
                justify-content: center;
                padding-top: 15px;
                padding-bottom: 10px;
                .courses-icon {
                    width: 60px;
                    height: 60px;
                    margin: 0 8px;
                    box-shadow: 0 0 10px $right-color;
                    border-radius: 10px;
                }
                .courses-icon-1 {
                    background-image: url("../img/HTMLICON.png");
                    background-position: center;
                    background-size: cover;
                }
                .courses-icon-2 {
                    background-image: url("../img/CSSICON.png");
                    background-position: center;
                    background-size: cover;
                }
                .courses-icon-3 {
                    background-image: url("../img/JSICON.png");
                    background-position: center;
                    background-size: cover;
                }
                .courses-icon-4 {
                    background-image: url("../img/SCSSICON.png");
                    background-position: center;
                    background-size: cover;
                }
                .courses-icon-5 {
                    background-image: url("../img/JQUERYICON.png");
                    background-position: center;
                    background-size: cover;
                }
                .courses-icon-6 {
                    background-image: url("../img/BOOSTRAPICON.png");
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }

    #ending {
        max-width: $max-width;
        height: 360px;
        margin: 0 auto;
        flex-direction: column;
        background-color: $bg-color;
        border-left: $side-border;
        border-right: 5px solid #F3F2ED;

        &::before {
            content: "";
            width: calc(50% + 3px);
            height: 1px;
            display: block;
            border-bottom: $side-border;
            margin: 0 0 -3x 0;
        }
        
        .ending-box {
            width: 1160px;
            height: inherit;
            padding: 35px 40px 25px 40px;
            .ending-title {
                height: 70px;
                font-size: $biggest-font-size;
                border-bottom: 2px solid lightgray;
                line-height: 70px;
            }
            .ending-text {
                height: 260px;
                padding-top: 2rem;
                font-size: $normal-font-size;
                font-weight: $font-regular;
                line-height: 2.3rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #main-body {
        #banner {
            border: none;
            grid-template-areas: 
            "a a"
            "a a";
            column-gap: 0;
            row-gap: 0;
            transition: 1s;
            .banner-parent-1 {
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width: 1048px) {
    #main-body {
        #text-container {
            .vertical-line {
                height: 110px;
                transition: 2s;
            }
            .text {
                width: 700px;
                height: 300px;
                border: none;
                line-height: 40px;
                font-size: $bigger-font-size;
                transition: 3s;
                padding: 90px 0px 0 0px;
            }
        }
        #review-container {
            border: none;
            .review {
                width: var(--width);
                padding: 0 25px 3rem 25px;
                .review-box {
                    height: calc(var(--width) * 0.45);
                    grid-template-columns: calc(var(--width) * 0.45) 1fr;
                    grid-template-rows: 120px 1fr;
                }
                .review-box-reverse {
                    height: calc(var(--width) * 0.45);
                    grid-template-columns: 1fr calc(var(--width) * 0.45);
                    grid-template-rows: 120px 1fr;
                }
                .review-text {
                    font-size: $normal-font-size;
                    padding-top: 15px;
                    transition: 2s;
                }
            }
        }
        .ending-box {
            width: 950px !important;
            transition: 2s;
        }
    }
}

@media screen and (max-width: 908px) {
    #main-body {
        #review-container {
            .review {
                .review-box {
                    column-gap: .5rem;
                    row-gap: 0;
                    transition: row-gap 2s;
                    transition: column-gap 2s;
                }
                .review-box-reverse {
                    column-gap: .5rem;
                    row-gap: 0;
                    transition: row-gap 2s;
                    transition: column-gap 2s;
                }
                .review-title {
                    font-size: $bigger-font-size;
                    line-height: 170px;
                    transition: 2s;
                }
                .review-text {
                    padding-top: 0;
                }
            }
        }
        #ending {
            border-left: none;
            &::before {
                width: calc(50% + 5px);
            }
            .ending-box {
                width: 800px !important;
                transition: 2s;
                .ending-title {
                    font-size: $bigger-font-size;
                    transition: 2s;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #main-body {
        #review-container {
            .review {
                .review-box {
                    grid-template-rows: 90px 1fr;
                    row-gap: .75rem;
                    transition: 1s;
                }
                .review-box-reverse {
                    grid-template-rows: 90px 1fr; 
                    row-gap: .75rem;
                    transition: 1s;
                }
                .review-title {
                    line-height: 130px;
                    transition: 1s;
                }
                .review-text {
                    font-size: 1rem;
                    line-height: 40px;
                    transition: 2s;
                }
            }
        }
        #text-container {
            .text {
                font-size: $big-font-size;
                transition: 3s;
                width: 670px;
            }
        }
        #courses {
            .courses-box {
                p {
                    font-size: $normal-font-size;
                    transition: 2s;
                }
            }
        }
        #ending { 
            .ending-box {
                min-width: 670px;
                padding: 35px 20px 25px 20px;
                transition: 2s;
                .ending-title {
                    height: 60px;
                    font-size: $big-font-size;
                    transition: 2s;
                    line-height: 60px;
                    width: 630px;
                }
                .ending-text {
                    padding-top: 1.5rem;
                    font-size: 1rem;
                    transition: 2s;
                    font-weight: $font-regular;
                    width: 630px;
                }
            }
        }
    }
}

@media screen and (max-width: 670px) {
    #main-body {
        #review-container {
            .review {
                min-width: 670px;
                .review-box {
                    height: 302px;
                    grid-template-columns: 302px 1fr;
                }
                .review-box-reverse {
                    height: 302px;
                    grid-template-columns: 1fr 302px;
                }

            }
        }
    }
}