@import "../scss/settings";
@import "../scss/models";


#main-body {
    #resume-container {
        max-width: $max-width;
        margin: 0 auto;
        background-color: $bg-color;
        font-family: $chinese-font;

        .profile-container {
            width: inherit;
            height: 380px;
            border-bottom: $side-border;
            border-left: $side-border;
            margin: 0 auto;
            .profile-picture {
                max-width: 1171px;
                margin: 0 60px;
                height: inherit;
                display: flex;
                justify-content: space-between;

                .pic {
                    height: 300px;
                    width: 300px;
                    border-radius: 50%;
                    background-image: url("../img/IMG_4060.HEIC");
                    background-position: center;
                    background-size: cover;
                    margin: 36px 20px 36px 0;
                }

                h1 {
                    padding: 20px 0;
                    font-size: $biggest-font-size;
                }
                p {
                    font-size: $big-font-size;
                    padding: .5rem 0;
                }
            }
        }
        .resume-text {
            padding: 20px 60px;
            font-size: $big-font-size;
            .paragraph {
                padding: 25px 0;
                line-height: 2.7rem;
            }
            .experience {
                margin: 20px 0 -5px 0;
                width: 600px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #main-body {
        #resume-container {
            .profile-container {
                border-left: none;
                .profile-picture {
                    
                    .pic {
                        margin: 36px 0;
                        transition: 2s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1048px) {
    #main-body {
        #resume-container {
            .profile-container {
                .profile-picture {
                    margin: 0 30px;
                    transition: 2s;
                    .pic {
                        width: 280px;
                        height: 280px;
                        margin: 46px 0;
                        transition: 2s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 908px) {
    #main-body {
        #resume-container {
            .profile-container {
                .profile-picture {
                    margin: 0 30px;
                    transition: 2s;
                    padding: 61px 0;
                    .pic {
                        width: 250px;
                        height: 250px;
                        margin: 0;
                        transition: 2s;
                    }
                    h1 {
                        font-size: $bigger-font-size;
                        padding: 5px 0;
                        transition: 2s;
                    }
                    p {
                        font-size: $normal-font-size;
                        transition: 2s;
                    }
                }
            }
            .resume-text {
                padding: 10px 35px;
                font-size: $normal-font-size;

                .paragraph {
                    padding: 22px 0;
                    line-height: 2.4rem;
                    transition: 2s;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #main-body {
        #resume-container {
            .profile-container {
                min-width: 670px;
                .profile-picture {
                    justify-content: center;
                    margin: 0 0;
                    transition: 2s;
                    p {
                        padding: .4rem 0;
                        transition: 2s;
                    }
                }
            }
        }
    }
}