/* Base */
*, *::after, *::before {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}

/* Header */
#header {
    width: 100%;
    height: 104px;
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
    padding: 0 125px;
}
    .logo {
        width: 500px;
        height: 104px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .logo-img {
        width: 260px;
        height: 55px;
        padding-right: 36px;
    }
    .logo-font {
        width: 130px;
        padding: 0 24px;
        font-size: 13px;
        font-style: italic;
        line-height: 25px;
        white-space: pre-wrap;
        word-break: normal;
        color: #99979a;
        border-left: 0.5px solid #d8d8d8;
        margin-right: 85px;
    }
    .nav {
        width: 630px;
        height: 72px;
        padding-top: 32px;
        text-align: center;
        margin: 0;
    }
    .nav-list {
        display: flex;
    }
    .nav li {
        width: 90px;
        height: 72px;
        line-height: 72px;
    }
    .nav-active {
        background-color: #f75a53;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .nav-active a{
        color: white;
    }
/* Footer */
#footer {
    width: 100%;
    height: 138px;
    background-color: #363636;
    padding-top: 28px;
}
    #footer a {
        color: #646464;
    }
    .footer-font {
        font-size: 12px;
        text-align: center;
        color: #646464;
    }
    .footer-nav td {
        width: 70px;
        border-right: 1px solid #727272;
    }
    .footer-nav td:last-child {
        border-right: none;
    }
    #footer p {
        margin-top: 12px;
    }