*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
}
#top{
    height:65px;
    width:1100px;
    margin:0 auto;
    border:none;
    background:#f2f2f2;
    display:flex;
    justify-content:space-between;
}
    .logo{
        height:65px;
        width:260px;
        border:none;
    }
    .navigate{
        height:65px;
        width:540px;
        background:#f2f2f2;
        border:none;
    }
        .navigate ul{
            display:flex;
            padding:32px 40px 14px 40px;
        }
        .navigate li{
            list-style:none;
            width:460px;
            text-align:center;
            font-size: 15px;
            font-weight: 500;
            color:#676767;
        }
#banner{
    height: 424px;
    width:1100px;
    margin:0 auto;
    border:none;
    background:#f2f2f2;
}
    #banner img{
        height: 424px;
        width:1100px;
    }
#service{
    height:290px;
    width:1000px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding:0px 50px;
    background:#f2f2f2 ;
}
    .services{
        height:290px;
        width:470px;
        background:#f2f2f2;
    }
    .cases{
        height:290px;
        width:490px;
        background:#f2f2f2;
    }
    .topic{
        height:50px;
        width:auto;
        padding:0px 5px;
        display:inline-block;
        font-size:23px;
        font-weight: 500;
        color:#f2f2f2;
        line-height:50px;
        text-align:center;
        background:#01b6ef ;
    }
    .simple{
        height:50px;
        background: #f2f2f2;
        display:flex;
        margin-bottom: 75px;
    }
    .basic{
        height:50px;
        background: #f2f2f2;
        display:flex;
    }
        .title{
            width:120px;
            font-size:16px;
            padding-top:5px;
            color:#01b6ef;
            background:#f2f2f2;
        }
        .intro{
            width:350px;
            font-size:12px;
            padding-top:5px;
            color: #646464;
            background:#f2f2f2;
            display:inline-block;
        }
    .sample{
        margin-top:20px;
    }
#news{
    height:225px;
    width:1000px;   
    margin:0 auto;
    padding:65px 50px 140px 50px;
    display:flex;
    background:#f2f2f2 ;
}
    #about{
        height:225px;
        width:300px;  
        background:#f2f2f2 ;
    }
    #newscenter{
        height:225px;
        width:300px;  
        background:#f2f2f2 ;
    }
    #event{
        height:225px;
        width:400px;  
        background:#f2f2f2 ;
    }
    #news .title{
        height:32px;
        font-size:25px;
        font-weight: 600;
        color:#3b3b3b;
    }
    #news .more{
        height:15px;
        font-size:13px;
        font-family:Arial, Helvetica, sans-serif;
        padding-right:10px;
        text-align: end;
        border-right:#e4e4e4 solid 1px;
    }
        .more a{    
            color:#9c9c9c;
        }
    #news .browse{
        padding:20px 0px 15px 0px;
        font-size:13px;
        color: #7d7d7d;
        line-height:21px;
        border-right:#e4e4e4 solid 1px;
    }
    .newsbann{
        padding:17px 25px;
        border-right:#e4e4e4 solid 1px;
    }
        .newsbann img{
            width:250px;
            height:66px;
        }
        .newsbrowse{
            padding:5px 0px 0px 25px;
            font-size:13px;
            color: #7d7d7d;
            line-height:23px;
            border-right:#e4e4e4 solid 1px;
        }
    .eventlis{
        padding:16px 8px 0px 24px;
        font-size:13px;
        line-height:26px;
        border-right:#e4e4e4 solid 1px;
    }
    
        .eventlis span{
            float:right;
        }
        .eventlis li{
            list-style: none;
        }
        .eventlis a{
            color:#7d7d7d;
        }
#bot{
    height:154px;
    width:990px;
    margin:0 auto;
    padding:48px 65px 28px 45px;
    background: #383838;
}
    .menu{
        height:22px;
        width:460px;
        color:#bcbcbc;
    }
        .menu td{
            height:15px;
            padding:0px 20px;
            font-size: 13px;
            border-right: #979797 solid 1px;
        }
        .menu a{
            color:#bcbcbc;
        }
        #tdhead{
            padding-left:4px;
        }
        #tdend{
            padding-right:4px;
        }
    .address{
        width:460px;
        font-size:12px;
        color:#909090;
        padding:7px 0px 0px 2px;
    }
    .address2{
        width:460px;
        font-size:12px;
        color:#909090;
        line-height:20px;
        padding:10px 0px 0px 2px;
    }
    .hotline{
        height:58px;
        width:190px;
        float:right;
    }
        .hotlinech{
            padding-top:5px;
            font-size: 13px;
            color: #8d8d8d;
        }
        .hotlinenum{
            padding-top:6px;
            font-size: 26px;
            color: #8d8d8d;
        }
    .right{
        display:flex;
        justify-content: space-around;
        padding-top:20px;
        color:#7b7b7b ;
        font-size: 16px;
    }
